*{
    margin: 0;
    padding: 0;
}
.eventsWrapper .eventsBox{
    display: flex;
    flex-direction: row;
    /* margin: 0; */

}

.eventDescription{
    gap: 20px;
    /* margin:0; */
    padding: 0;
}


.eventDescription p{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 16px ;
    color:  #114A37;

}

.eventDescription .eventHeadings h2{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 34px ;
    color: #194D37;

}
.eventDescription .eventHeadings{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.eventDescription .eventHeadings h6{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 16px ;

}
.eventDescription .eventCard{
    width: 500px !important;
     height: 290px !important; 
     border: 1px solid red !important;  
}
.eventCard .col-md-2 p{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 20px ;   
    color: #194D37;

}
.eventCard .col-md-2 #eventDate{

    font-family: "Montserrat", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 700 !important;
    font-style: normal;
    font-size: 30px !important;   
    color: #194D37 !important;
}
.eventCard .col-md-10 .p1,.p2{

    font-family: "Montserrat", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 500 !important;
    font-style: normal;
    font-size: 13px !important;   
    color: #194D37 !important;
}
.eventsWrapper .eventCharts p{
    font-family: "Montserrat", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 700 !important;
    font-style: normal;
    font-size: 34px !important;   
    color: #194D37 !important; 

}
.eventsWrapper .eventCharts .eventChartsHeading{
    color: #D39C41;
    
}

.eventCharts .eventInstructions {
    display: flex;
    flex: row;

}
.eventInstructions .eventItems{
    width: 305px;
    height: auto !important;
    text-align: center !important;
}
.eventInstructions .eventItems h6{

    font-family: "Montserrat", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 500 !important;
    font-style: normal;
    font-size: 24px !important;
    margin-top: 18px;  
}
.eventItems h3{

    font-family: "Montserrat", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 700 !important;
    font-style: normal;
    font-size: 34px !important;  
}

/* Media Queries */
@media only screen and (max-width:568px){
.eventDescription .eventHeadings h2{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 30px ;
    color: #194D37;
}
    

}

@media only screen and (max-width:992px){

    .eventsWrapper .eventsBox{
        display: flex;
        flex-direction: column;
        /* margin: 0; */
    

    }

    .eventImage{
        width: 100%;
        margin: 0 !important;
        padding: 0 !important;
    }
    .eventImage img{
        width: 100%;

    }


    .eventDescription .eventHeadings{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .eventDescription .eventCard{
        width: 100% !important;
         height: auto !important; 
         border: 1px solid red !important;  
    }
    .eventCharts .eventInstructions {
        display: flex;
        flex-direction:column;
        margin: 0 !important;
        padding: 0 !important;
    
    }

    .eventInstructions .eventItems{
        width: 305px;
        height: auto !important;
        text-align: center !important;
        margin: 5px 0px 0px 0px !important;
        padding: 0 !important;
    }



}
