*{
    margin: 0;
    padding: 0;
}
.footerWrapper{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    /* overflow-x: hidden;
    overflow-y: hidden; */
    /* background-color: beige; */
}
.footerWrapper .footer-top{
    width: 100%;
    background-image: url("../../assets/footer.jpg");
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
 
}
.footerWrapper .footer-top  .EnglishQuote{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    text-align: justify;
}
.footerWrapper .footer-top  .arabicQuote{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
    text-align: center;
}
.footerWrapper .footer-bottom{
    /* margin: 0;
    padding:0; */
    background-image: url("../../assets/fMasjid.png");
    width: 100%;
    /* height: 700px; */
    background-repeat: no-repeat;
    margin: -90px 0px 0px 0px;
    padding: 0 !important;
    
}
.footer-bottom .footerLinks{
 
    padding-top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
.footerLinks .ulist{
    list-style: none;
    margin: 80px;
    padding: 0;

}
.footerLinks .ulist .link-heading{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    text-align: justify;
    margin: 0;
    padding: 0;

}
.footerLinks .ulist li{
  margin: 0;
  text-align: start;
  margin-top: 5px;
  width: 200px;
 

}

.footerLinks .ulist li .button a{
 
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    text-align: justify;
    margin: 5px 0px 0px 0px;    
    padding: 0; 
    text-decoration: none; 
    width: 160px; 
    color: black;


}
.button{
    color: black;
    outline: none;
    margin:5px 0px 0px 0px;  
    border: none;
    width: 190px;
    height: 38px;
    background: none;
   
}
.button:hover{
    background-image: linear-gradient(to right, silver, #194D37 50%);
    background-size: 200% 100%;
    transition: background-position 0.9s ease;
  
    background-position: -100% 0;
    /* color: white; */

}
.footerLinks .ulist li .button a:hover{
    color: white;
}

.footer-bottom .footer-icons{
    /* margin-bottom: 140px !important; */
    text-align: start !important;
    margin-top: -110px !important;
    
    
} 
.footer-bottom .footer-icons i{
    margin: 10px;
    width: 32px;
    height: 32px;
    background-color: #DDE3D9;
    padding: 10px;
    border-radius: 50px;
} 

/* media queries*/



@media only screen and (max-width:992px){
    .footerWrapper .footer-bottom{
        margin: 0;
        padding:0;
        background-image:none;
        width: 100%;
        height: 1000px !important;
        background-repeat: no-repeat;
        margin-top: -120px;
        
    }

    .footer-bottom .footerLinks{
 
        /* padding-top: 200px; */
        display: flex;
        flex-direction: column;
          
        /* text-align: center; */
        margin: 0;
        padding-top: 120px !important;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        
    }
    .footerLinks .ulist{
        list-style: none;
        margin: 0 !important;
        /* padding-bottom: 20px !important; */
        padding: 0;

    
    }
    .footer-bottom .footer-icons{
        /* margin-bottom: 140px !important; */
        text-align: start !important;
        margin: 0 !important;
        /* padding-bottom: 10px; */
        
        
    } 
    .footer-bottom .footer-icons i{
        margin: 0px 0px 0px 5px;
        width: 32px;
        height: 32px;
        background-color: #DDE3D9;
        padding: 10px;
        border-radius: 50px;
    } 

}

   



